<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Screenshot.ListenersImpl"/>
	</listeners>
  <test thread-count="5" name="contextTest">
    <classes>
      <class name="Screenshot.TestingClass"/>
      <class name="Screenshot.ContextErrorTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
